In [4]:
import pandas as pd
import os
import money_control
import parse_utility

# Final dropdown List

In [7]:
df = pd.read_csv('../../../data/ind_nifty50list.csv')
out_df = pd.DataFrame()

In [31]:
company_names = []
symbols = []

for index, row in df.iterrows():
    if os.path.isdir("../../models/lstm_models/" + row["Symbol"]) and os.path.isfile("../../models/rf_models/" + row["Symbol"] +".joblib"):
        company_names.append(row["Company Name"])
        symbols.append(row["Symbol"])

In [32]:
company_names

[]

In [9]:

len(symbols)

0

In [21]:
out_df["Company Names"] = pd.Series(company_names)
out_df["Symbol"] = pd.Series(symbols)

/tmp/ipykernel_29793/3326928367.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  out_df["Company Names"] = pd.Series(company_names)
/tmp/ipykernel_29793/3326928367.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  out_df["Symbol"] = pd.Series(symbols)

In [22]:
out_df

    Company Names  Symbol                    tags
0             NaN     NaN             adani ports
1             NaN     NaN            asian paints
2             NaN     NaN               axis bank
3             NaN     NaN              bajaj auto
4             NaN     NaN           bajaj finance
5             NaN     NaN           bajaj finserv
6             NaN     NaN                    bpcl
7             NaN     NaN                  airtel
8             NaN     NaN               britannia
9             NaN     NaN                   cipla
10            NaN     NaN              coal india
11            NaN     NaN                dr reddy
12            NaN     NaN                  eicher
13            NaN     NaN                  grasim
14            NaN     NaN                     hcl
15            NaN     NaN               hdfc bank
16            NaN     NaN             hero motors
17            NaN     NaN                hindalco
18            NaN     NaN      hindustan uniliver
19            NaN     NaN                    hdfc
20            NaN     NaN              icici bank
21            NaN     NaN                     itc
22            NaN     NaN           indusind bank
23            NaN     NaN                 infosys
24            NaN     NaN               jsw steel
25            NaN     NaN              kotak bank
26            NaN     NaN                     l&t
27            NaN     NaN                mahindra
28            NaN     NaN                  maruti
29            NaN     NaN                    ntpc
30            NaN     NaN                  nestle
31            NaN     NaN                    ongc
32            NaN     NaN  power grid corporation
33            NaN     NaN            shree cement
34            NaN     NaN                     sbi
35            NaN     NaN              sun pharma
36            NaN     NaN                     tcs
37            NaN     NaN             tata motors
38            NaN     NaN              tata steel
39            NaN     NaN           tech mahindra
40            NaN     NaN                   titan
41            NaN     NaN                     upl
42            NaN     NaN               ultratech
43            NaN     NaN                   wipro

In [11]:
out_df.to_csv('../../data/dropdown_list.csv')

# Headline Save

In [25]:
tags = ["adani ports",
    "asian paints",
    "axis bank",
    "bajaj auto",
    "bajaj finance",
    "bajaj finserv",
    "bpcl",
    "airtel",
    "britannia",
    "cipla",
    "coal india",
    "dr reddy",
    "eicher",
    "grasim",
    "hcl",
    "hdfc bank",
    "hero motors",
    "hindalco",
    "hindustan uniliver",
    "hdfc",
    "icici bank",
    "itc",
    "indusind bank",
    "infosys",
    "jsw steel",
    "kotak bank",
    "l&t",
    "mahindra",
    "maruti",
    "ntpc",
    "nestle",
    "ongc",
    "power grid corporation",
    "shree cement",
    "sbi",
    "sun pharma",
    "tcs",
    "tata motors",
    "tata steel",
    "tech mahindra",
    "titan",
    "upl",
    "ultratech",
    "wipro",
]

In [18]:
len(tags)

44

In [26]:
out_df = pd.read_csv("../../../data/dropdown_list.csv")
out_df["tags"] = pd.Series(tags)

In [28]:
save_path = "../../../data/raw/news/"

In [30]:
for index, row in out_df.iterrows():
    
    if os.path.isfile("../../../data/raw/news/" + row["Symbol"] + ".csv"):
        continue
    
    try:
        tag = row["tags"]
        page_links = money_control.get_page_links(tag)
        article_list = money_control.get_article_list(page_links)
        headlines = money_control.get_headlines(article_list)
        article_links = money_control.get_article_links(article_list)

        news_df = pd.DataFrame()
        news_df["Headlines"] = pd.Series(headlines)
        news_df["Links"] = pd.Series(article_links)

        news_df.to_csv(save_path + row["Symbol"] + ".csv")
    except:
        print("Exception " + row["Symbol"])

Exception HEROMOTOCO
Exception HINDUNILVR
Exception LT

In [ ]:
for index, row in out_df.iterrows():
    df = pd.read_csv("../../../data/raw/news/" + row["Symbol"] + ".csv")
    for index, row in df.iterrows():
        string = df["Headlines"]
        string.